<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>HomeGuard Website</title>
</head>
<body>
    <h1>Welcome to HomeGuard Website</h1>
    {% if session.get('google_id') %}
        <p>Hello, {{ session['name'] }}!</p>
        <a href="{{ url_for('protected_area') }}">
            <button type="button" class="login-with-google-btn">
                Access Protected Area
            </button>
        </a>
        <br>
        <a href="{{ url_for('logout') }}">
            <button type="button" class="login-with-google-btn">
                Logout
            </button>
        </a>
    {% else %}
        <p>You are not logged in. Please log in to access additional features.</p>
        <a href="{{ url_for('login') }}">
            <button type="button" class="login-with-google-btn">
                Sign in with Google
            </button>
        </a>
    {% endif %}
</body>
</html>